{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Document</title>
</head>
<body>
    <!-- <form id="form3">
        <input id="name" type="text" name="" value="" placeholder="name">
        <input id="password" type="password" name="" value="" placeholder="password">
        <input id="submit" type="submit" name="" value="login">
        
    </form> -->
    

    



<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1><marquee>Muhsin</marquee></h1>
        <h1><marquee>Welcome</marquee></h1>
		<p>We are very Proud of You,All We Need Is your Cooperation and Contribution </p>
		<span>
			<p>Fill The Contact form Below</p>
			<a href="registration"><i class="fa fa-twitter" aria-hidden="true"></i> Contact Form</a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<p>If you Have already have an account <a href="login">Login</a> below in less than a minute</p>
		<div class="inputs">
			<form method="post" action="login">
				{% csrf_token %}
				<input type="text" id="username" placeholder="user name" name="username">
				<br>
				<input type="password" id="password" placeholder="password" name="password">
		</div>
				
				<br><br>
				
			<div class="remember-me--forget-password">
					<!-- Angular -->
		         <label>
			         <input type="checkbox" name="item" checked/>
			         <span class="text-checkbox">Remember me</span>
		        </label>
				<p>forget password?</p>
			</div>
				
				<br>
				<button class="login">Login</button>



			</form>
			
	</div>
	
</div>
<!-- partial -->
  
<div id="info"></div>

</body>

<script src="{% static 'js/login.js' %}">
	
	  
   
</script>

</html>